<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <div id="wrapper">
      <%- include("../partials/header")%> <%-include("../partials/navigation")%>
      <h2 id="car-detail"><%= title %></h2>
      <%-card %> <%- include("../partials/footer") %>
    </div>
  </body>
</html>
